// Colors
$fontGreen: #58adbf;
$darkBlue: #283d4a;

// Color palette
$green: #BAFF9F;
$orange: #E8AA1A;
$red: #FF2C29;
$purple: #512CE8;
$blue: #39FFE1;
$darkGrey: #2E3A3A;

// Fonts
$nunito: 'Nunito', sans-serif;