// LANGUAGES
.languages-list-items {
    @include flexbox();
    padding: 2em;
    list-style-type: none;
    color: white;

    .language-item {
        width: calc(25% - 20px);
        margin: 2em 0;
        padding: 1em;

        &__image {
            img {
                width: 100%;
                display: block;
                max-width: 200px;
                margin: 0 auto;
            }
        }

        &__level {
            height: 20px;
            position: relative;

            .star-wrapper {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
                @include flexbox();
                @include justify-content(center);

                img {
                    width: 30px;
                    height: 30px;
                    margin: 0 4px;
                    transform-origin: bottom;
                    opacity: 0;
                    transform: translateY(40px) scale(0.8);
                    backface-visibility: hidden;
                }
            }   
        }

        &__content {
            position: relative;
            padding: 2em 1em;
            background: rgba(21, 26, 29, 0.9);
            border-radius: 4px;

            h2, .description {
                position: relative;
            }
        }
    }
}