#main {
    position: relative;
    padding-top: 84px;
    width: 100vw;
    height: 100vh;
    @include flexbox();
    background: url('assets/home-background.jpg') no-repeat center;
    background-size: cover;
}

.loader {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transition: width 0.8s ease;
    transition: width 0.8s ease;
    @include flexbox();

    span {
        margin: auto;
    }

    &.has-loaded {
        width: 0px;

        span {
            display: none;
        }
    }
}

h1 {
    font-weight: 500;
    margin: auto;
    color: $darkGrey;
}

.svg-filter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

article.main-section {
    position: relative;
    padding: 0 1em;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;

    
    // Custom scrollbar
    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: #eee;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 20px;
    }
}

.inner-section {
    height: 100%;
}

// Page bookmark
.page-bookmark {
    position: fixed;
    bottom: -200px;
    left: -400px;
    width: 800px;
    height: 800px;
    background: #fff;
    @include flexbox();
    border-radius: 50%;
    font-weight: 600;
    z-index: 1;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.2);

    span {
        margin: auto;
        font-size: 2em;
        text-transform: uppercase;
        position: relative;
        top: 0px;
        left: 160px;
    }
}


.section-title {
    text-transform: uppercase;
    text-align: left;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
    h1 {
        color: $darkGrey;
        font-size: 1.6em;
        margin: 0 0 0 2em;

        span {
            color: $green;
            font-size: 3em;
            line-height: 1;
            margin: 0;
        }
    }
}

@import 'Skills/Skills';