header {
    position: fixed;
    height: 84px;
    width: 100%;
    top: 0;
    z-index: 10;
    color:#58adbf;
    @include flexbox();
    @include justify-content(space-between);
    padding: 10px 5%;
    font-weight: 600;

    @import 'Navigation/navigation';

    .logo-container {
        width: calc(33% - 10px);
    }

    .contact-nav-wrapper {
        @include flexbox();
        width: calc(33% - 10px);
        @include justify-content(flex-end);

        a {
            display: block;
            margin: auto 1em;
            text-decoration: none;

            @include flexbox();

            h2 {
                margin: auto;
                color: $purple;
                font-weight: 600;
                text-decoration: none;
                padding: 0.6em 1.4em;
                font-size: 16px;
                border: 4px solid $purple;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                border-radius: 60px;
                margin: 0 1em;

                &:hover {
                    background: $purple;
                    color: white;
                    border-color: $green;
                }
            }

            svg {
                margin-top: 6px;
            }
        }
    }
}