#main-navigation {
    width: calc(33% - 10px);
    text-align: left;

    .menu-toggle {
        position: relative;
        width: auto;
        display: inline-block;
        cursor: pointer;
        top: 8px;
        transition: all 0.2s ease-in;

        .menu-toggle__item {
            width: 60px;
            height: 6px;
            border-radius: 30px;
            background: $purple;
            transition: all 0.2s ease-in;

            &__two {
                margin: 14px 0;
            }
        }

        &.toggled {
            transform: translateX(10px);

            .menu-toggle__item {
                background: $darkGrey;

                &__one {
                    transform: rotate(45deg) translateY(28px);
                }
                &__two {
                    opacity: 0;
                }
                &__three {
                    transform: rotate(-45deg) translateY(-28px);
                }
            }
        }
    }

    .navigation-items {
        position: fixed;
        top: 84px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 0%;
        height: calc(100% - 84px);
        left: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        li.navigation-item {
            width: 0;
            transform: translateX(100%);
            height: 25%;
            @include flexbox;

            a {
                @include flexbox();
                position: relative;
                color: white;
                text-decoration: none;
                width: 100%;
                height: 100%;
                text-align: center;
                margin: auto;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 30px;
                opacity: 0;
                transition: opacity 0.2s ease;

                &:hover {
                    span {
                        color: $purple;
                    }
                }

                span {
                    margin: auto;
                    color: white;
                    transition: all 0.2s ease;
                    display: none;
                }
            }
        }

        &.is-active {
            opacity: 1;
            width: 100%;

            li a span {
                display: block;
                color: $darkGrey;
                font-weight: 900;
            }

            @for $i  from 1 through 4 {
                li.navigation-item:nth-of-type(#{$i}) {
                    transform: translateX(0);
                    transition: all 0.6s  cubic-bezier(0.645, 0.045, 0.355, 1.000) (0.1s + ($i - 1) * 0.1s);
                    width: 100%;
                    background: rgba(57,255,225, (0.4 + ($i * 0.16)));
                    a {
                        opacity: 1;
                    }
                }
            }
        }
    }
}