// FONTS 
// ------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900');

// HELPERS
@import 'helpers/helpers';

// HEADER 
// ------------------------------------------------------------------------
@import 'components/Header/Header';

// MAIN
// ------------------------------------------------------------------------
@import 'components/Main/Main';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  @include flexbox();
}

h1 {
  font-family: $nunito;
  font-weight: 900;
  color: $darkGrey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
