// LANGUAGES
.languages-list-items {
    @include flexbox();
    @include justify-content(space-between);
    padding: 2em;
    margin: 0;
    list-style-type: none;
    color: black;
    margin-left: 20%;

    .language-item {
        width: calc(25% - 20px);
        margin: 2em 0;
        padding: 1em;
        opacity: 0;
        transform-origin: center;
        transform: translateY(100px);

        &__image {
            img {
                width: 100%;
                display: block;
                max-width: 200px;
                margin: 0 auto;
            }
        }

        &__level {
            height: 20px;
            position: relative;

            .star-wrapper {
                position: absolute;
                top: 0px;
                width: 100%;
                z-index: 1;
                @include flexbox();
                @include justify-content(center);

                img {
                    width: 30px;
                    height: 30px;
                    margin: 0 4px;
                    transform-origin: bottom;
                    opacity: 0;
                    transform: translateY(40px) scale(0.8);
                    backface-visibility: hidden;
                }
            }   
        }

        &__content {
            position: relative;
            padding: 1em;
            border-radius: 4px;
            opacity: 0;
            transform-origin: bottom;
            transform: translateY(100px);

            h2 {
                position: relative;
                font-weight: 900;
                display: inline-block;

                &:after {
                    content: "";
                    background: $orange;
                    position: absolute;
                    width: 100%;
                    height: 6px;
                    bottom: -6px;
                    left: 0;
                }
            }
        }
    }
}